<h2>Your Clue</h2>

<% unless @clue.nil? %>
  <% @clue.next_location.clues.each do |clue| %>
   <%= clue.clue_text %>
    <br /><br />
    <a href="#" onclick="toggle_hints('hints');">View Hint(s)</a>
    <div id="hints" style="display:none;">
      <% clue.hints.each do |hint| %>
        <%= hint.hint_text %> <%= link_to "Edit", edit_hint_url(hint) %>
	    <br /><br />
      <% end %>
    </div>	
  <% end %>
<% else %>
  No Clue Available
<% end %>  