<h2>Clues</h2>

<h3><%= link_to "Add New", new_clue_url %></h3>

<table>
	<tr>
		<td>Clue Text</td>
		<td>Actions</td>
	</tr>	
<% @clues.each do |clue| %>
<tr>
  <td><%= clue.clue_text %></td>
  <td>
  	<%= link_to "Edit", edit_clue_url(clue) %> | 
  	<%= link_to "Delete", clue, confirm: 'Are you sure?', method: :delete %>
</td>
</tr>
<% end %>
</table>